<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/structure/head.ejs') %>

</head>
<body class="host_version"> 

	<%- include ('partials/structure/login.ejs') %>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">

		<%- include ('partials/structure/nav.ejs') %>
		
	</header>
	<!-- End header -->
	Welcome <%= `${fName}` %>
	<h1><%= `${id}` %> </h1>
	<h1><%= `${roleID}` %> </h1>
	<h1><%= `${fName}` %> </h1>


	<% if (roleID != 1) { %>

	<h1>You are Intermediate</h1>
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Teachers<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="columns" style="border: 5px solid black;">
				<div class="col-lg-3 col-md-6 col-12" style="border: 5px solid red;">
					<!-- <div class="our-team">
						<div class="team-img">
							<img src="images/team-01.png">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Williamson</h3>
							<span class="post">Web Developer</span>
						</div>
					</div> -->
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/564401325?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="1 What Is Forex"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
				</div>

				<div class="col-lg-3 col-md-6 col-12" style="border: 5px solid orange;">
					<div class="our-team">
						<div class="team-img">
							<img src="images/team-02.png">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Kristiana</h3>
							<span class="post">Web Designer</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12" style="border: 5px solid purple;">
					<div class="our-team">
						<div class="team-img">
							<img src="images/team-03.png">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Steve Thomas</h3>
							<span class="post">Web Developer</span>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12" style="border: 5px solid rgb(21, 255, 0);">
					<div class="our-team">
						<div class="team-img">
							<img src="images/team-04.png">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Miranda joy</h3>
							<span class="post">Web Developer</span>
						</div>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <% } %>

    <%- include ('partials/structure/footer.ejs') %>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

</body>
</html>